.photo{
  width: 220px;
  margin-bottom: 20px;
}

p, p.ng-binding {
padding: 0;
margin: 0;
line-height: 0.3em;
}
.team {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.phone{
  color: #0549CF;
}
.phone:hover{
  color: #0588CF;
  cursor: pointer;
}

/*Header*/
.welcome {
  text-align: center;
  padding: 0px 20px 50px;
}
